.admin-question-container{
    font-family: 'CircularStd-Book',sans-serif;
    padding: 1rem;
    padding-bottom: 2rem;
}

.admin-question-title h2{
    font-size: 20px;
    padding-bottom: 1rem;
}

.admin-question-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 15px;
}

.admin-question-card{
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}

.admin-question-card .question-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-question-card .question-text p{
    padding-bottom: 1.5rem;
    font-size: 14px;
}

.admin-question-card .question-text h4{
    font-size: 22px;
}

.question-img{
    width: 40px;
    height: 40px;
    background-color: #DFF0FA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.admin-question-img .question-img img{
    width: 25px;
}


.admin-table-container{
    margin-top: 2rem;
    background-color: white;
}


.admin-table-container .admin-table-header{
    display: flex;
    padding: 1rem;
    justify-content:space-between;
    align-items:start;
}

.admin-table-header .input-container{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 38px;
    border-radius: 5px;
    padding-right: 2rem;
}

.admin-table-header .input-container img{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-bottom: 1px;
}


.admin-table-header .input-container input{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none; 
    height: 38px;
    outline: 0;
    font-size: 15px;
    margin-left: 1px;
}

.admin-table-left{
    display: flex;
    gap: 10px;
    align-items:start;
}

.admin-table-left button,.admin-filters-footer button{
    border: none;
    padding: 0.5rem 1.4rem;
    font-family: 'CircularStd-Book', sans-serif;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0056D2;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.admin-table-left button img{
    width: 18px;
    margin-right: 5px;
}

.admin-table-left .bordered, .admin-filters-footer .bordered{
    background-color: white;
    border: 1px solid #0056D2;
    color: #0056D2;
}


.admin-table{
    padding: 1rem;

}

.admin-table table{
    width: 100%;
    border-bottom: 1px solid #e9ebec;
    color: #212529;
    font-size: 15px;
    border-color: rgb(226 232 240 / 1)
}

.admin-table table thead{
    background-color: #F1F5F9;
    font-size: 15px;
    border: none;
}

.admin-table table thead tr{
    border: inherit;
}

.admin-table table thead tr th{
    padding: 10px 14px;
    text-align: left;
    border: inherit;
}

.admin-table table tbody tr{
    border-style:none;
}


.admin-table table tbody{
    border-style: none;
}

.admin-table table tbody tr td{
    padding: 12px 14px;
    border-style:none;
    border-top: 1px solid #e9ebec;
    color: #212529;
    font-size: 15px;
    border-color: rgb(226 232 240 / 1)
}

.admin-table table{
    border-collapse: collapse;
    
}

/* .admin-table tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 10px;

} */


.admin-table-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    color: #212529;
    align-items: center;
}

.footer-button{
    color: #212529;
    /* padding: 5px 0 0; */
    border-radius: 3px;
    margin-left: 5px;
    height: 34px;
    width: 34px;
    border: 1px solid #64748B;
    border-color: rgb(226 232 240 / 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.footer-button img{
    width: 13px;
}

.footer-button.rotate{
    transform: rotate(180deg);
}


.admin-footer-right{
    display: flex;
    align-items: center;
}

.admin-footer-right p{
    margin-right:0.5rem;
}

.admin-filters-container{
    top: 0;
    right: 0;
    width: 300px;
    /* background-color: rebeccapurple; */
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    position: fixed;
    background-color: white;
    /* border-right: 1px solid black; */
    box-shadow: 0 4px 4px 0 rgba(60, 64, 67, .3), 0 8px 12px 6px rgba(60, 64, 67, .15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-filter-header{
    background-color: #f9f9f9;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #64748B;
    border-color: rgb(226 232 240 / 1);
  
}

.admin-filter-header img{
    width: 25px;
    cursor: pointer;
}


.admin-filters-items{
    padding: 1rem;
}

.admin-duo-input{
    display: flex;
    color: rgb(122, 122, 122);
    color: #212529;
    flex-direction: column;
    padding-bottom: 0.8rem;
}

.admin-duo-input label{
    padding-bottom: 0.3rem;
}

.admin-filters-footer{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.admin-filters-footer button{
    padding: 0.5rem 2rem;
}