

.sidebar-container{
    font-family: 'CircularStd-Book',sans-serif;
    position:sticky;
    top: 0;
    height: 100vh;
    /* max-height: 100vh; */
    min-width: 250px;
    background-color: #131720;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll;
    justify-content: space-between;
    scrollbar-width: none; */
  }
  
  .sidebar-top{
    overflow-y: scroll;
    justify-content: space-between;
    scrollbar-width: none;
    flex-grow: 1;
  }
  
  .sidebar-title{
    display: flex;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
  }
  
  .sidebar-title img{
    width: 2rem;
  }
  
  .sidebar-title h3{
    font-size: 1.4rem;
    margin-left: 8px;
    color: rgb(48, 47, 47);  
  }

  .sidebar-options{
    padding-top: 1rem;
    width: 100%;
    height: max-content;
    overflow-y: scroll;
    /* justify-content: space-between; */
    scrollbar-width: none;
}

  .sidebar-options a,.sidebar-footer a{
    padding: .55rem .75rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    color: #444050;
    color: #39465f;
    width: 93%;
    margin: auto;
    font-family: 'CircularStd-Bold',sans-serif;
    /* font-weight: 600; */
    /* background-color: #131720; */
    margin-bottom: 3px;
    border-radius: 8px;
}

.sidebar-options a:hover,.sidebar-footer a:hover,.option-menu-title:hover{
    background-color: rgba(47,43,61,.08);

}

.sidebar-options a img,.option-menu-title .title-right img,.sidebar-footer img{
    width: 22px;
    height: 22px;
    /* margin-left: 0.3rem; */
    margin-right: 10px;
}

.option-menu{
    background-color: white;
    font-family: 'CircularStd-Bold', sans-serif;
    width: 93%;
    margin: auto;
}

.option-menu-title{
    padding: .55rem .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}


.option-menu .title-right{
    display: flex;
    /* align-items: center; */
}

.option-menu .title-right p{
    color: #39465f;
    font-size: 16px;
    align-self: baseline;
}

.option-menu-title .title-right img{
    width: 22px;
    height: 22px;
}

.option-menu-title img{
    width: 18px;
    /* height: 22px; */
}

.option-menu .content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0, 1, 0, 1);
}

.option-menu .content.show{
    max-height: 999px;
    /* padding-top: 1rem; */
    transition: all 0.7s cubic-bezier(1, 0, 1, 0);
}

.content a img{
    width: 15px;
    height: 15px;
}

.content a{
    margin-top: 3px;
    width: 100%;
}

.content a img{
    margin-left: 1rem;
}

.selected{
    background-color: rgba(47,43,61,.08);
}



.option-ss{
    color: white;
}

.sidebar-footer{
    /* padding-bottom: 0.5rem; */
    padding-top: 1rem;
    border-top: 1px solid #f3f3f3;
}

.toggle-icon {
    transition: transform 0.3s ease;
}

/* Rotar el icono de flecha hacia abajo */
.active .toggle-icon {
    transform: rotate(90deg);
}

.option-menu-selected{
    background-color: rgba(47,43,61,.08);
}

.admin-header{
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(43, 43, 43, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    font-family: 'CircularStd-Book',sans-serif;
    position: sticky;
    top: 0;
    z-index: 500;
}


.admin-left-menu{
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
}

.admin-right-menu{    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.admin-left-menu img{
    width: 24px;
    margin-right: 10px;
}

.admin-img{
    width: 35px;
    height: 35px;
    margin-right: 0.5rem;
    border-radius: 100%;
    background-color: #022EE1;
    display: flex;

}

.admin-img img{
    width: 100%;
    margin: 8px;
}