.simulator-container{
    font-family: 'CircularStd-Book',sans-serif;
    padding-bottom: 2rem;
    position: relative;

}

.simulator{
    width: 70%;
    margin: auto;
}


.simulator-header{
    padding:1rem 0rem;
    display: flex;
    justify-content:space-between;
    font-size: 20px;
    margin-top: 30px;
}



.simulator-header div{
    display: flex;
    align-items: center;
}

.simulator-answer-sheet{
    top: 0;
    left: 0;
    width: 350px;
    /* background-color: rebeccapurple; */
    height: 100vh;
    overflow-x: hidden;
    padding: 1rem;
    position: absolute;
    position: fixed;
    background-color: white;
    /* border-right: 1px solid black; */
    box-shadow: 0 4px 4px 0 rgba(60,64,67,.3),0 8px 12px 6px rgba(60,64,67,.15);
    padding-bottom: 2rem;

}

.simulator-answer-sheet p{
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.answers-sheet-items{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    margin: auto;
    /* justify-content: center; */
    
}

.answers-sheet-items .item{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #256AB9;
    color: #256AB9;
    background-color: #ffffff;
}

.answers-sheet-items .selected{
    background-color: #256AB9;
    color: white;
}

.answer-sheet-titles{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.answer-sheet-titles img{
    width: 20px;
    height: 20px;
}

.simulator-header div img{
    width: 25px;
    margin-right: 10px;
}


.simulator-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 17px;
    align-items: center;
}

.simulator-info button,.simulator-buttons button{

    border: none;
    padding: 0.6rem 1.4rem;
    font-family: 'CircularStd-Bold', sans-serif;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #0056D2;
    background-color: white;
    color: #0056D2;
    cursor: pointer;
}


.simulator-question{
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}
.simulator-question h4{
    padding-bottom: 1rem;
    font-size: 18px;
}

.simulator-answers{
    padding-top: 2rem;
}

.simulator-answer{
    padding: 0.75rem;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    align-items: center;
    cursor: pointer;
}

.simulator-buttons button img{
    width: 23px;
    padding: 0 3px;
}

.simulator-answer:hover{
    background-color: #EEEEEE;
}


.simulator-answer-option{
    height: 25px;
    width: 25px;
    border:1px solid #256AB9;
    color: #256AB9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 1rem;
    font-size: 14.5px;
    font-family: 'CircularStd-Book', sans-serif;
}

.simulator-answers .red {
    border: 1px solid #cc183a;
    color: #cc183a;
    background-color: #FCF5F5;
}

.simulator-answers .green{
    border: 1px solid #73b438;
    color:#73b438 ;
    background-color: #f2faea;
}

.simulator-answers .red .simulator-answer-option{
    border: 1px solid #cc183a;
    color: #cc183a;
}

.simulator-answers .green .simulator-answer-option{
    border: 1px solid #73b438;
    color: #73b438;
}




.simulator-answer .selected{
    background-color:  #256AB9;
    color: white; 

}


.simulator-buttons{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.simulator-buttons button{
    background-color: #0056D2;
    color: white;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;

}


.simulator-content-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.simulator-content-img img{
    width: 140px;
}

.simulator-answer-content img{
    width: 200px;
}
