html{
  /*Restablecer valores*/
  box-sizing:border-box;
  /* font-family:"SourceSansPro,Helvetica,sans-serif";   */
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
}
body{
  border: 0px;
  margin: 0px;
  overflow-x: hidden;
}

*,
*:before,
*:after{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
  /* overflow-x:scroll; */
} 


:root {
  --color-primary: #04aa6d;
  --color-primary: #4255ff;
  --color-primary: #0056D2;
  --background-color-secondary: rgba(0,0,0,.05);
  /* --backround-color-secondary:red; */

}


/* .nav{
  background-color: var(--color-primary);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */


/* .logotype{
  display: flex;
}

.logotype img{
  width: 9rem;
} */

.all-container{
  background-color:var(--background-color-secondary) ;
  min-height: 100vh;
}

.form{
  width: 75%;
  margin:auto;

  /* background-color: red; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

.form-title{
  /* position:fixed;
  top: 0;
  left: 0; */
  /* margin: 1.5rem; */
  background-color: white;
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-between;
  border-bottom:1px solid rgba(0, 0, 0, .15);
  /* width: 100%; */

}

.form-title h3{
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.form-title button{

  background-color: #0ebb78;
  border: none;
  height: 3rem;
  width: 10rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.pregunta{
  padding: 1.5rem;
}
.pregunta-container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  justify-content: space-between;
  padding: 2rem;
  border:1px solid rgba(0, 0, 0, .3);
  /* width: 100%; */
  gap: 10px;
}

.pregunta-img{
  width: 13.5rem;
  height: 14.5rem;
  background-color:#afb9b628;
  /* margin-right: 1rem; */
  grid-column:10 /13;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circular-div{
  width: 50%;
  height: 50%;
  background-color: white;
  border:3px solid #04aa6d;
  border-radius:60px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.circular-div img{
  height: 4.5rem;
  cursor: pointer;
}



.pregunta-inputs {
  grid-column: 1/9;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */

}
.pregunta-inputs .input-config{
  /* width: 100%; */
  height: 70%;
  resize: vertical;
  line-height: 1em;
  padding-top: 10px;
}
textarea{
  height: 100%;
}

.selecteds{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selecteds select{
  border: none;
  background-color: #04aa6d;
  color: white;
  height: 3rem;
  /* width: 100%; */
  /* margin-top: 1rem; */
  gap: 10px;
}


.input-config{
  display: flex;
  flex-direction: column;
}

.input-config label{
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.select-config{
  width: 48%;
}
.select-config label{
  font-size: 1rem;
  font-weight: 700;
}



.respuestas{
  padding: 1.5rem;
  border:1px solid rgba(0, 0, 0, .3);
  border-top: none;
  border-bottom: none;
}

.respuestas-container{
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: center;
}

.respuestas-container .textarea-duo{
  /* width: calc(50%-5px); */
  width: 48%;
  height: 6rem;
  min-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.textarea-duo{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.options-radio{
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}

.options-radio div{
  margin-top: 2rem;
  font-size: 1.1rem;
}

.preguntas-options{
  border:1px solid rgba(0, 0, 0, .3);
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   
}

.textarea-duo select{
  border: none;
  background-color: #04aa6d;
  height: 2rem;
  color: white;
  margin-bottom: 10px;
}

.options-temas{
  /* width: 40%; */
  min-width: 150px;
  margin-right: 10px;
}

.options-temas p, .options-radio p {
  font-weight: bold;
}

.options-radio div label{
  margin-left: 10px;
}

/* sidebar */

 
.side-bar-container{
  position:sticky;
  top: 0;
  height: 100vh;
  min-width: 270px;
  background-color: #131720;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.side-bar-title{
  display: flex;
  align-items: center;
  padding: 1rem;
  
}

.side-bar-title img{
  width: 2rem;
}

.side-bar-title h3{
  font-size: 1.1rem;
  margin-left: 10px;
  color: rgb(48, 47, 47);
  /* color: white; */

}

/*
.side-bar-options{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.side-bar-options a{
  text-decoration: none;
  color: rgb(75, 73, 73);
  color: white;
  height: 3rem;
  width:100% ;
  display: flex;
  align-items: center;
  
  border-radius: 5px;
  margin-top: 0.5rem;


}

.side-bar-options a:hover{
  background-color:#51565c;
}

.side-bar-container a img{
  width: 1.5rem;
  margin-left: 1rem;
}

.side-bar-container a h4{
  font-size: 1.1rem;
  margin-left:2rem;
}




.side-bar-footer{
  margin-bottom: 1rem;
}



 */




/* super container */

.super-container{
  display: flex;
  justify-content: center;
  background-color: #afb9b628;
  width: 100%;
}

/**********   Talble     ***********  */
.full-container{
  width: 100%;
}

.table-container{
  width: 85%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}

.data-table{
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;

  /* border-spacing: 0; */
}
.table-titles{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.table-titles input{
  border-radius: 5px;
  width: 15rem;
  border:.1px solid #02020237;
}

.table-titles input::placeholder{
  font-size: 0.9rem;
  padding: 1rem;
}

.titles-icon{
  background-color: #0ebb78;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titles-icon img{
  width:60% ;
}

.data-table th{
  text-align:left;
  
}

.data-table thead{
  /* border-bottom: 2px solid black; Añade un borde inferior de 2px sólido negro a la thead */
  border-bottom:1px solid #a79b9b37;

}

.left{
  padding-left: 1rem;
}

.img-row{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.img-table{
  width: 35px;
  height: 45px;
  /* margin-left: 1rem; */
  margin-right: 1rem;
}

.data-table tbody td{
  /* padding: 0.5rem 0; */
  height: 2.8rem;
  }

.data-table tbody td:first-child{
  padding-top: 1rem;
}

.padding{
  height: 2.4rem;
}
.data-table tbody{
  /* min-height: 1000px; */
}
.actions{
  width: 130px;
}

.actions-div{
  display: flex;
}
.actions-edit{
  background-color: #04aa6d;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  border-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
}

.actions-edit img{
  height: 1.4rem;
  margin-left: 10px;
}

.actions-delete{
  border: none;
  background-color: #DB544E;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-delete img{
  height: 1.4rem;
}


.table-p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 250px; */
}

.grey{
  background-color:#F9F9F9;
}

.table-container{
  border: 1px solid rgb(243, 231, 231);
}

.data-table tbody tr:hover {
  background-color: #c4e9d6; /* Cambia el color de fondo al pasar el ratón por encima */
}

.table-footer{
  padding: 1.3rem;
  display: flex;
  justify-content: end;
}

.table-footer button{
  height: 2.5rem;
  width: 6rem;
  border: none;
  background-color: #0ebb78;
  color: white;
  margin-right: 1rem;
  font-size: 1rem;
}

.table-footer button:disabled{
  background-color: #E5E5E5;
  color: #767d8d;
}


.ss{
  background-color: #04aa6d;
  /* width: inherit; */
}

/****Filter container********/
.absolute{
  position: absolute;
  top: 0;
  right:  0;
}

.filter-container{
  position:sticky;
  top: 0;
  width: 300px;
  background-color: white;
  z-index: 1000;
  height: 100vh;
}

.cortina{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 50;
}


.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  padding: 1rem;
  border-bottom: 1px solid rgb(236, 223, 223);
  display: flex;
  justify-content: space-between;
}

.title img{
  width: 2rem;
  height: 2rem;
}

.filter-title{
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
}

.checkbox-group{
  padding:0px 1rem;
  display: flex;
  flex-wrap: wrap;
}

.filter-area{
  padding-bottom: 4rem;
  border-bottom: 1px solid rgb(236, 223, 223);
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.filter-area label{
  padding: 0.4rem;
  font-size: 1.2rem;
}

input[type="checkbox"]{
  width: 16px;
  height: 16px;
  accent-color:var(--color-primary);
  margin-right: 0.322rem;
}


.no-border{
  border: none;
  /* font-family: sour; */
}
/* 
.hidden{
  width: 100%;
  height: 100%;
  overflow:hidden;
} */

/* ftons */

/* Europa,system-ui,sans-serif */
/* din-round,sans-serif */


@font-face {
  font-family: 'CircularStd-Bold';
  src: url('/fonts/CircularStd-Bold.eot') format('eot'),
  url('/fonts/CircularStd-Bold.ttf') format('truetype'),
  url('/fonts/CircularStd-Bold.woff') format('woff'),
  url('/fonts/CircularStd-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'CircularStd-Book';
  src: url('/fonts/CircularStd-Book.eot') format('eot'),
  url('/fonts/CircularStd-Book.ttf') format('truetype'),
  url('/fonts/CircularStd-Book.woff') format('woff'),
  url('/fonts/CircularStd-Book.woff2') format('woff2');
}



.header{
  display: flex;
  height: 64px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  justify-content: space-between;
  font-family: 'CircularStd-Bold',sans-serif;
}


.primary-color{
  color: #022EE1 !important;
}

.logotype{
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.navbar{
  display: flex;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  padding: 0 9px;
  color: black;
  font-size: 16.6px;
}


.logotype img{
  width: 2rem;
  height: 2rem;
}

.navbar-button{
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.navbar-button button{
  width: 7rem;
  height: 2.5rem;
  background-color: #022EE1;
  color: white;
  border: none;
  border-radius: 0.5rem;
  border-radius: 6px;
  font-family: 'CircularStd-Bold',sans-serif;
}


.learning-side-container{
  min-width: 360px;
  height: 100vh;
  height: calc(100vh - 65px);
  position: sticky;
  top: 60px;
  /* overflow:scroll; */
  overflow-x: hidden;
  margin-top: 64px;
}

.learning-side-container h3{
  padding: 0 1rem;
  font-size: 17.6px;
  font-family: 'CircularStd-Bold',sans-serif;
  padding: 1rem 1rem 0.8rem; 
}



.learning-side-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #25265e;

}

.learning-side-item p{
  /* padding: 1rem; */
  /* background-color: #0056D2; */
  /* margin: 0; */
  padding: 0.86rem 2.1rem;
  font-family: 'CircularStd-Book',sans-serif;
  border-bottom:1px solid #e7e1e1 ;
  border-bottom:1px solid #eeeeee ;
  color: #25265e;
}

.item-side-selected{
  box-shadow: inset 4.5px 0 #1865f2;
  background-color: #d4ebff;

}

.learning-side-item img{
  margin-right: 6px;
  width: 25px;
  height: 25px;
}



.item-side-selected p{
  font-family: 'CircularStd-Bold',sans-serif !important;
}

.learning-side-item:hover{
  background-color: #e0e0e0;
  background-color: #EEEEEE;
  cursor: pointer;
}

.item-side-selected:hover{
  /* background-color:; */
  background-color: #d4ebff;

}

/* header user */

.header-info{
  display: flex;

}

.user-header{
  position:fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.user-navbar{
  margin-right: 2rem;

}

.user-navbar a{
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user-navbar a img{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.user-header-button{
  background-color: #0056D2;
  border-radius: 25px;
  width: 36px;
  height: 36px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-header-button img{
  width: 25px;
}


/* lesson container */

.lesson-content-container{
  display: flex;
}

.lesson-content{
  width: 83%;
  margin: auto;
  margin-top: 64px;
  padding-top: 3rem;
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 18px;
  padding-bottom: 1rem;
}

.lesson-content h2{
  font-size: 35px;
  font-family: 'CircularStd-Bold',sans-serif;
}

.lesson-content h3{
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 21px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.lesson-content h4{
  padding-top: 1rem;
  padding-bottom: 0.5rem;

}

.lesson-paragraph{
  padding: 1rem 0;
}

.lesson-ul li{
  /* padding: 4px; */
  margin-left: 16px;
}

.lesson-ul li::marker{
  font-size: 24px;

}


.lesson-content .pb-0{
  padding-bottom: 0px ;
}

ol li{
  /* margin-left: 32px; */
  padding: 0.5rem 0;
  list-style: none;
  display: flex;
}

.lesson-ol-text{
  padding-left: 10px;
}



.lesson-ol-text p{
  display: inline;
}


.counter-ul{
  min-width: 27px;
  max-width: 27px;
  min-height: 27px;
  max-height: 27px;
  border-radius: 26px;
  background-color: #0056D2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-container{
  background-color: #fefad8;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 16px 0;
}

.example{
  padding: 1rem;
  border-radius: 5px;
  margin: 16px 0;
  background-color: #D9EEE1;
}



.note-title{
  display: flex;
  align-items: center;
}

.example-title{
  display: flex;
  align-items: center;
}

.note-title h4{
  font-size: 24px;
  color: #e6bf00;
}

.example h4{
  color: #04aa6d;
  padding: 0.3rem 0;
  font-size: 22px;
}

.example-title img{
  width: 30px;
  height: 30px;
  /* margin-top: 6px; */
  margin-right: 5px;
}


.note-container p,.example p{
  padding-top: 0.5rem;
}

.pt-0{
  padding-top: 0;
}

.example{
  padding-top: 1rem;
}

.lesson-buttons-container{
  display: flex;
  justify-content: space-between;
  padding: 4rem  0;
}

.example .lesson-ul{
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.lesson-buttons-container button{
  /* width: 7rem; */
  /* height: 2rem; */
  border: none;
  background-color: #0056D2;
  padding: 0.7rem 1rem;
  font-family: 'CircularStd-Book',sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.lesson-buttons-container  button img{
  width: 24px;
  padding: 0 3px;
}

.lesson-buttons-container .desactivate{
  background-color: rgb(193, 193, 194);
}

.lesson-title{
  display: flex;
  color: #14a2ff;
  color: #0056d2;
  align-items: center;
  font-size: 22px;
}

.lesson-done button{
  border: none;
  background-color: #0056D2;
  padding: 0.6rem 0.8rem;
  font-family: 'CircularStd-Book',sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}


.lesson-done{
  margin-top: 1rem;
  background-color: #e5f5fd;
  /* background-color: #d4f1ff; */
  padding: 1rem;
  border-radius: 5px;
}

.lesson-done img{
  width: 35px;
  margin-top: 9px;
  margin-right: 6px;
}

.lesson-done p {
  padding-top:  0.5rem ;
  padding-bottom:  0.8rem ;
}



/* table lesson */

.lesson-table{
  border-color: #d5d5e7;
  border-collapse: collapse;
}

.lesson-table thead, tr, th, tbody, td {
  border-style: solid;
  border-color: inherit;
  border-width: 1px;
}

.lesson-table thead{
  text-align: left;
}

.lesson-table thead th{
  color: #333;
    opacity: 0.9;
    padding: 9px 15px 9px 15px;
  font-size: 16px;
  }

.lesson-table tbody tr td {
  padding: 0.8rem;
  font-size: 15px;
  color: #333;
}

.grey-tr{
  background-color: rgb(246, 247, 249) !important;
}